* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --dark: #333;
    --highlight: #0049b7;
    color: var(--dark);
    background: #f4f4f4;
}

.card {

    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cardHeading {
    font-size: 2rem;

}

.cardLink {
    font-size: 2rem;
    color: var(--highlight);
}

.largeFont {
    font-size: 5rem;
}

.list {
    list-style: none;
    padding: 1rem 2rem;
}

.listItem {
    font-size: 2rem;
}

.outerContainer {
    width: 80vw;
    margin: 2rem auto;
}

.subTitle {
    padding: 5rem 2rem 2rem 2rem;
    border-top: 4px solid var(--dark);
    font-size: 3rem;
    color: var(--dark);
}